/*
  Övning: Implementera designen i site.png med hjälp av flexbox.
    Vi implementerade samma layout i kurs 4 men då utan flexbox.
    Nedan finns redan en del styling för att hjälpa er med
    uppgiften. Det är all styling från kurs 4 som inte rör
    layouten.

    Vill ni ändra i HTML eller CSS går det bra bara slut-
    resultatet ser ut som på bilden.

    Tips: Ni kan ha en flexbox i en annan flexbox. Dvs, ett
      element kan vara display: flex samtidigt som det är ett
      flex-barn.
*/

* {
  font-family: "Comic sans ms";
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: lightgray;
}

.page {
  max-width: 1200px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
}

#header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#menu {
  background-color: deeppink;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  width: 100%;
}

.logo {
  margin: 30px 0;
}

.menu-list {
  font-size: 24px;
  list-style-type: none;

  display: flex;
  padding: 0;
  margin: 0;
}

.menu-link {
  padding: 20px;
  display: inline-block;
  text-decoration: none;
  color: black;
}

.menu-link:hover {
  background-color: forestgreen;
}

.search-button {
  background-color: black;
  color: white;
  padding: 4px 15px;
  border: none;
}

.search-button:hover {
  background-color: gray;
  cursor: pointer;
}

#main {
  display: flex;
  align-items: flex-start;

  margin: 20px 0;
}

#content {
  background-color: white;
  margin-right: 20px;

  /* Variant 1 with fixed with sidebar */
  /* flex-grow: 1; */

  /* Variant 2 with both elements having flexible width */
  flex-basis: 60%;
}

#sidebar {
  background-color: deeppink;

  /* Variant 1 with fixed with sidebar */
  /* min-width: 300px; */

  /* Variant 2 with both elements having flexible width */
  flex-basis: 40%;
}

#footer {
  background-color: white;
  padding: 20px;
  margin-bottom: 40px;;
}

