/*
  Övning: Implementera designen i site.png med hjälp av grid.
    Vi implementerade samma layout i kurs 4 men då utan grid.
    Nedan finns redan en del styling för att hjälpa er med
    uppgiften. Det är all styling från kurs 4 som inte rör
    layouten.

    Vill ni ändra i HTML eller CSS går det bra bara slut-
    resultatet ser ut som på bilden.
*/

* {
  font-family: "Comic sans ms";
}

html, body {
  margin: 0;
  padding: 0;
  background-color: lightgray;
}

.page {
  max-width: 1200px;
  margin: 0 auto;
}

#menu {
  background-color: deeppink;
}

.menu-list {
  font-size: 24px;
}

.menu-link {
  padding: 20px;
  display: inline-block;
  text-decoration: none;
  color: black;
}

.menu-link:hover {
  background-color: forestgreen;
}

.search-button {
  background-color: black;
  color: white;
  padding: 4px 15px;
  border: none;
}

.search-button:hover {
  background-color: gray;
  cursor: pointer;
}

#content {
  background-color: white;
}

#sidebar {
  background-color: deeppink;
}

#footer {
  background-color: white;
  padding: 20px;
  margin-bottom: 40px;
}

.page {
  display: grid;
  grid-template-columns: 1fr 400px;
  grid-template-rows: auto 1fr auto;
  gap: 20px;
}

#header {
  grid-column: 1 / 3;
}

#content {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

#footer {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
}

#sidebar {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.logo {
  margin: 30px auto;
  display: block;
}

#menu {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr;
  align-items: center;
  padding: 0 20px;
}

.menu-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  justify-items: center;
}
